/.vs/
/.cache/
/build/
/install/

*.aps
*.bak
*.BAK
*.ncb
*.opensdf
*.opendb
*.sdf
*.suo
*.user
*.VC.db
*.tmp
*.sublime-workspace

thumbs.db
.DS_Store
Jamfile

/compile_commands.json
/client/gitdefs.inc
