/build/
/install/
/compiled
/vc_intermediate
/.vs
/.cache

*.aps
*.bak
*.BAK
*.ncb
*.opensdf
*.opendb
*.sdf
*.suo
*.user
*.VC.db
*.tmp
*.sublime-workspace

thumbs.db
.DS_Store
compile_commands.json

/MakeDefs/MakeDefs.vcproj
/MakeDefs/Jamfile

/client/gitdefs.inc
/client/StringDefs.cpp
/client/ServerSocket.cpp
/client/ServerSocket.h
/client/memcpy_amd.cpp
/client/memcpy_amd.h
/client/TraceManager.cpp
/client/TraceManager.h
/client/BitInputStream.h
/client/BitOutputStream.h

/dht/Jamfile

/miniupnpc/Jamfile
/miniupnpc/SConscript
/miniupnpc/minihttptestserver.c
/miniupnpc/miniupnpcmodule.c
/miniupnpc/minixmlvalid.c
/miniupnpc/testigddescparse.c
/miniupnpc/testminiwget.c
/miniupnpc/testminixml.c
/miniupnpc/testupnpreplyparse.c
/miniupnpc/upnpc.c
/miniupnpc/wingenminiupnpcstrings.c

/res/*.bmp
/res/favus.ico

/windows/InputBox.cpp
/windows/InputBox.h
